.tile {
    width: 75%;
    text-transform: uppercase;
    height: 180px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    border: 1px;
    opacity: .7;
    border-radius: 8px;
    /* padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px; */
  }
.tiles {
    clip: rect(0, auto, auto, 0);
    display: flex;
    align-items: center;
    justify-content: center;

}

label {
    color: whitesmoke;
}
.form-control {
    background: black;
    opacity: .8;
    border: none;
}


a {
color: whitesmoke
}

a:hover {
color: maroon;
}

.title{
    opacity: .9;
}

button {
background-color: black;
color: maroon
}
.navbar-btn{
background-color: black;
color: whitesmoke;
font-size: 14px;
}

.navbar-btn:hover {
    color: orangered;
}

.btn-delete{
    margin-left:10px;
}

#deleteModal{
    display:none;
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0, 0.666);
}
.modal-content{
    background-color: black;
    color: white;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
}

.closeBtn{
    color:#ccc;
    float:right;
    font-size:30px;
}
.closeBtn:hover,.closeBtn:focus{
    color:maroon;
    text-decoration:none;
    cursor:pointer;
}

.deleteConfirm{
    float:right;
    padding-right:30px;
    color:white;
}

div {
margin: 8px;
}

.multiple-desktop {
    text-align: center;
    background-image: linear-gradient(maroon, black);
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
 
}

/* http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html */
.multiple-desktop-text {
    display: inline-block;
    background: -webkit-linear-gradient(transparent, transparent);
    background: -o-linear-gradient(transparent, transparent);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: whitesmoke;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-shadow: 1em;
    width:500px;
    margin-top: 15px;
    margin-bottom: 25px;
  
}

.multiple-mobile-wrapper {
    position: relative;
    height: 100%; 
}

/* http://stackoverflow.com/a/23859719/1221082
 * http://stackoverflow.com/a/23795792/1221082
 */
.multiple-mobile {
    /* old browsers */
    clip: rect(0 auto auto 0);
    clip: rect(0, auto, auto, 0);
    /* ios workaround */
    /* -webkit-mask-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%); */
    /* new browsers */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -1;
}

.multiple-mobile-content {
    height: 100%;
}

.multiple-mobile:before {
    content: '';
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}