body {
  background-image: url("dndfire.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Metamorphous', cursive;
  color:whitesmoke;

};
  
  /* background-color: #cccccc; */
label {
  font-size:20px;
};



 
form.signup,
form.login {
  margin-top: 50px;
};

.container{
  padding: 1em
}

.glow {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px rgba(248, 240, 218, 0.966), 0 0 20px rgba(248, 240, 218, 0.966), 0 0 30px rgb(252, 158, 36), 0 0 40px rgb(252, 158, 36), 0 0 50px rgb(252, 158, 36), 0 0 60px rgb(252, 158, 36), 0 0 70px rgb(252, 158, 36);
  }
  
  to {
    text-shadow: 0 0 20px rgba(248, 240, 218, 0.966), 0 0 30px rgba(255, 81, 0, 0.795), 0 0 40px rgba(255, 81, 0, 0.795), 0 0 50px rgba(255, 81, 0, 0.795), 0 0 60px rgba(255, 81, 0, 0.795), 0 0 70px rgba(255, 81, 0, 0.795), 0 0 80px rgba(255, 81, 0, 0.795);
  }
}